body { background: #91447d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-filter-0 { color: #28d232; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #9e7f53; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #100451; font-size: 16px; margin-bottom: 5px; }
.block-order-3 { color: #e1d6d6; font-size: 16px; margin-bottom: 5px; }
.block-filter-4 { color: #cc8055; font-size: 20px; margin-bottom: 5px; }
.block-validator-5 { color: #54dc1c; font-size: 18px; margin-bottom: 5px; }
.block-database-6 { color: #cb59fd; font-size: 18px; margin-bottom: 5px; }